.b-icon._name_dj-feedback-toggler {
    display: inline-block;
    margin: 0 0 6px 8px;
    padding: 19px 0 0 11px;
    /* Icon `ei-chevron-right` from [Evil Icons](http://evil-icons.io/) */
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAATCAYAAABGKffQAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACSSURBVCiRpdPNCkFBGAbgZ+8/R0RchNunTpIkG0mSuAoXMDbfdpw5Wczufabp+96BNbYYp5T8OrBBwgVVU3iEc4ArJtlwiCFOAW6YZsMBBjgGuGOWDQfo4xDggXk2HKCHfYAnFtlwgC52AV5YZsMBOqgDvLFqWkKFT4D6/5uL31w8jeI5F2+wuButWte2z8U/5Qs1+ZpaqhQl2QAAAABJRU5ErkJggg==");
    background-clip: padding-box;
    vertical-align: middle;
    transition: transform ease 0.25s;

    .b-toggler._name_dj-feedback._state_opened & {
        transform: rotate(180deg);
    }
}
