/*
 * Toggler
 *
 * default - is closed
 */

borderColor = #000;

.b-toggler._name_dj-feedback {
    /*
     * Rotated Text
     * See: http://kizu.ru/en/fun/rotated-text/
     */

    &.b-toggler__toggler {
        position: absolute;
        top: 0;
        left: 100%;
        display: block;
        overflow: hidden;
        padding: 14px 8px;
        width: 1.5em;
        border-radius: 0 3px 3px 0;
        background-color: #fff;
        box-shadow: 1px 0 0 0 borderColor,
                    1px -1px 0 0 borderColor,
                    1px 1px 0 0 borderColor;
        line-height: 1.5;
        cursor: pointer;

        .b-toggler__text {
            display: inline-block;
            white-space: nowrap;
            font-size: 16px;
            transform: translate(0, 100%) rotate(-90deg);
            transform-origin: left top;
            user-select: none;

            &:after {
                float: left;
                margin-top: 100%;
                content: '';
            }

            &._name_opened {
                display: none;
            }
        }
    }

    &.b-toggler__panel {
        display: none;
        background-color: #fff;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.15),
                    0 0 0 1px borderColor;
    }


    /*
     * Opened
     */

    &._state_opened {
        &.b-toggler__toggler {
            .b-toggler__text {
                &._name_opened {
                    display: inline;
                }

                &._name_closed {
                    display: none;
                }
            }
        }

        &.b-toggler__panel {
            display: block;
        }
    }
}
