{% load bootstrap3 %}
<div class="b-dj-feedback _theme_tour">
    <span class="b-toggler _name_dj-feedback b-toggler__toggler">
        <span class="b-toggler__text">Feedback</span>
    </span>

    <div class="b-toggler _name_dj-feedback b-toggler__panel">
        <form class="b-dj-feedback__form" action="{% url 'feedback-post' %}" method="POST" role="form">
            <fieldset>
                {% csrf_token %}
                {% bootstrap_form feedback_form %}
                {% buttons %}
                    <button class="btn btn-primary" type="submit">
                        Submit
                    </button>
                {% endbuttons %}
            </fieldset>
        </form>
    </div>
</div>
