<html>
<head>
{% load staticfiles %}
{% block css %}
    <link href="{% static 'feedbacks/built/dj-feedback.css' %}" rel="stylesheet" />
{% endblock %}
</head>
<body>
    {% load feedbacks %}
    {% feedback %}

    {% block scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.1.min.js"><\/script>')</script>

        {% load require %}
        {% require_module 'app' %}

    {% comment %}
        <script>
        require(['{% static 'feedbacks/js/config.js' %}'], function () {
            {% if DEBUG %}
                require(['{% static 'feedbacks/js/dj-feedback.js' %}']);
            {% else %}
                require(['{% static 'feedbacks/built/dj-feedback.js' %}']);
            {% endif %}
        });
        </script>
    {% endcomment %}
    {% endblock scripts %}
</body>
</html>
