@import 'b-toggler_name_dj-feedback';

.b-dj-feedback {
    position: fixed;
    top: 10%;
    left: 0;
    width: auto;

    &__toggler {
        position: absolute;
        top: 0;
        left: 100%;
        display: block;
        cursor: pointer;
        user-select: none;
    }

    &__form {
        width: 330px;

        &._state_hidden {
            display: none;
        }
    }
}
