@import 'b-toggler_name_dj-feedback';

.b-dj-feedback {
    position: fixed;
    top: 10%;
    left: 0;
    width: auto;

    &__form {
        width: 330px;

        &._state_ajax-waiting {
        }
    }
}
