{% load staticfiles %}
{% load compress %}
{% block css %}
    {% compress css %}
        <link href="{% static 'built/dj-feedback.css' %}" rel="stylesheet" />
    {% endcompress %}
{% endblock %}

<div class="b-dj-feedback">
    <span class="b-dj-feedback__toggler">Feedback</span>

    <form class="b-dj-Feedback__form _state_hidden" action="" method="POST">
        <fieldset>
            {% csrf_token %}
            {{ feedback_form }}
            <button type="submit">Submit</button>
        </fieldset>
    </form>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script>
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$('document').ready(function() {
    var form = $('form');
    form.submit(function(event) {
        event.preventDefault();
        var data = new FormData(form[0]);
        $.ajax({
            url: "{% url 'feedback-post' %}",
            type: 'POST',
            data: data,
            processData: false,
            contentType: false,
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
                }
            },
            success: function(data, textStatus, jqXHR) {
                console.log(data);
            },
            error: function(jqXHR, textStatus, error) {
                console.log(error);
            }
        });
    });
});
</script>
